@import "~normalize.css";

@import "modules/app.scss";
@import "modules/glass.scss";
@import "modules/buttons.scss";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body {
  background: #3767ad;
  font-family: "Roboto", sans-serif;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
